.footer {
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 5px;

  text-align: center;

  color: #bbbbbb;
  font-size: 12px;
}

.footer__link {
  text-decoration: none;
  color: #bbbbbb;
}

.footer__link:hover {
  text-decoration: underline;
}
