body {
    background-color: $background-color;
    color: $font-color;
}

a {
    color: $link-color;
}

form input[type=text] {
    background-color: $bg-color-input-text;
    border: none;
    padding: 10px 15px;
}
form input[type=text]:focus {
    outline: none;
}
